<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
</head>
<body>
  <h1><%= post.title %></h1>
  <h2><%= post.author %> </h2>
  <h3><%= post.date %> </h3>
  <h3><%= post.category %> </h3>
  <h3><%= post.id %> </h3>
  <h3><%= post.content %> </h3>
  <script src="assets/js/bundle.js"></script>
</body>
</html>
